@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.ttf') format('truetype');
    font-weight: #{$weight};
    font-display: block;
    font-style: $style;
  }
}

@include font-face('HalvarBreit', '@/assets/fonts/HalvarBreit-Hairline', 100, normal);

@include font-face('HalvarBreit', '@/assets/fonts/HalvarBreit-Thin', 200, normal);

@include font-face('HalvarBreit', '@/assets/fonts/HalvarBreit-Light', 400, normal);

@include font-face('HalvarBreit', '@/assets/fonts/HalvarBreit-Regular', 400, normal);

@include font-face('HalvarBreit', '@/assets/fonts/HalvarBreit-Medium', 500, normal);

@include font-face('HalvarBreit', '@/assets/fonts/HalvarBreit-Bold', 700, normal);

@include font-face('HalvarBreit', '@/assets/fonts/HalvarBreit-ExtraBold', 800, normal);

@include font-face('HalvarBreit', '@/assets/fonts/HalvarBreit-Black', 900, normal);

@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.otf') format('truetype');
    font-weight: #{$weight};
    font-display: block;
    font-style: $style;
  }
}

@include font-face('BerlinType', '@/assets/fonts/BerlinType-Bold', 900, normal);

@include font-face('BerlinType', '@/assets/fonts/BerlinType-Regular', 100, normal);